.likedimagewithshadow {
    background-image: url(../assets/dislike.png);

    filter: drop-shadow(0rem 0rem 2rem green);

    transform: rotate(180deg) translate(10px, -80px);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;

    color: lightgreen;
    border: 3px solid black;
    outline: none;

    left: 65%;
    width: 125px;
    height: 125px;
    margin-left: 180px;
    margin-right: 20px;
    margin-bottom: -135px;


    object-fit: cover;
    border-radius: 80px;
    background-color: lightgreen;
}

.dislikedimagewithshadow2{

    filter: drop-shadow(0rem 0rem 2rem  maroon);
    background-color: maroon;
    background-image: url(../assets/dislike.png);
    transform: translate(-350px, 80px);
    position: relative;
    left:25%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    border:5px solid black;
    outline: none;
    border-radius: 90px;
    width: 125px;
    height:125px;
    margin-right: 220px;
    margin-bottom: -135px;
    object-fit: cover;

}
.likedimage{
    background-image: url(../assets/dislike.png);
    transform: rotate(180deg) translate(10px,  -80px);
    position:relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;

    color: lightgreen;
    border:3px solid black;
    outline: none;

    left:65%;
    width: 125px;
    height:125px;
    margin-left: 180px;
    margin-right: 20px;
    margin-bottom: -135px;


    object-fit: cover;
    border-radius: 80px;
    background-color: lightgreen;

}
.dislikedimage2{
    background-color: maroon;
    background-image: url(../assets/dislike.png);
    transform: translate(-350px, 80px);
    position: relative;
    left:25%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    border:5px solid black;
    outline: none;
    border-radius: 90px;
    width: 125px;
    height:125px;
    margin-right: 220px;
    margin-bottom: -135px;
    object-fit: cover;

}
.dislikedimage{
    background-color: maroon;
    background-image: url(../assets/dislike.png);
    transform: translate(-550px, 80px);
    position: relative;
    left:25%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    border:5px solid black;
    outline: none;
    border-radius: 90px;
    width: 125px;
    height:125px;
    margin-right: 220px;
    margin-bottom: -135px;
    object-fit: cover;

}
.FoodItem {
    grid-template-areas:
            'image image name name name '
            'popup popup blank badge badge';

    grid-gap: 0px;
    padding: 10px;
    background-color: darkgreen;
    transition: transform 1s ease;
    border: none;
    color: white;
    width: 500px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.2s;
    top:60px;
    position: relative;
}


.FoodItem:hover {
    background-color: darkgreen;
    color: white;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.rowbutton:after{
    display: table-cell;
    clear: both;

}
.columbuttonimage{
    width: 20%;
    margin:2px;
    padding: 0px;
}
.columtitle{
    width: 60%;
    display: table-cell;
    padding: 0px;
}
.informationbuttonscolum{
    width: 20%;
    display: table-cell;
    padding: 0px;
}

.FoodItem:active {
    background-color: green;
    color: white;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.BadgeBox{
    grid-area: badge;
    display: grid;
    margin-bottom: 10px;
}
.FoodBadge {
    grid-row: 2;
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 12px;
    width: 24px;
    height:24px;
    margin: 2px;
}

.fish {
    background-image: url(../assets/fish.png);
    background-color: dodgerblue;
}

.meat {
    background-image: url(../assets/meat.png);
    background-color: darkred;
}

.vegan {
     background-image: url(../assets/veggie.png);
     background-color: #004b00;
 }
.vegetarian {
    background-image: url(../assets/veggie.png);
    background-color: darkgreen;
}
.buttons{
    padding: 16px;
}
.oven {
    background-image: url(../assets/oven.png);
    background-color: orange;
}

.dairy-free {
    background-image: url(../assets/dairyfree.png);
    background-color: lightblue;
}

.inexpensive {
    background-image: url(../assets/cheap.png);
    background-color: yellowgreen;
}

.fifteen-minutes-or-less {
    background-image: url(../assets/stopwatch.png);
    background-color: lightskyblue;
}

.desserts {
    background-image: url(../assets/desserts.png);
    background-color: deeppink;
}

.inexpensive {
    background-image: url(../assets/inexpensive.png);
    background-color: orange;
}

.FoodPhoto {
    grid-area: image;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 125px;
    height:125px;
    margin-right: 20px;
    object-fit: cover;
}
.foodtitle2{

 width:100%;

}
.foodtags2{
    padding-top: 20px;
}

.FoodTitle {
    font-family: "Avenir", sans-serif;
    text-shadow: 1px 1px darkblue;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
    margin-top:0px
}

