h3 {
    color: green;
    text-align: left;
    float: left;
    width: 90vh;
    margin-top: 100px;
}
.newclass{
    padding-top: 30px;
}


label {
    color: green;
}

label  {
    display: block;
    text-align: left;
    width: inherit;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

label{
   width: 25%;
}

li{
    padding-right: 20px;
}
.container {
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 100%;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;

}
ul.ks-cboxtags li{
    display: inline;
}

ul.ks-cboxtags li label{
    display: inline-block;
    background-color: #d0d0d0;
    border: 2px solid #afafaf;
    color: darkslategray;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    width: 25%;
}

ul.ks-cboxtags li label:hover{
    box-shadow: 0 0 0 3px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;

}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    font-family: "FontAwesome", Verdana, sans-serif;
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    font-family: "FontAwesome", Verdana, sans-serif;
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;

}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid darkgreen;
    background-color: green;
    color: #fff;
    transition: all .2s;
}


ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid cadetblue;
}

* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.AutoCompleteText{
    width: 200px;
    border: 1px solid gray;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    border-radius: 5px;
}
input{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.AutoCompleteText input{
    font-family: Avenir, sans-serif;
    width: 40%;
    border: none;
    box-sizing: border-box;

}
.AutoCompleteText ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

.AutoCompleteText ul::before{
    content: '';
}

.AutoCompleteText li{
    padding: 10px 5px;
    cursor: pointer;
}
.AutoCompleteText li:hover{
    text-decoration: underline;
    background-color: darkgreen;
    color: white;
}

.addButton {
    font-size: 14px;
    background-color: darkgreen;
    border-radius: 20px;
    color: white;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
    margin: 10px;
    transition: all .2s;
    width: 230px;
    height: 35px;
}

.addButton:hover {
    background-color: white;
    color: darkgreen;
    border: 2px solid darkgreen;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.textBoxAdd {
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    color: darkgreen;
    font-family: Verdana, sans-serif;
    border: 2px solid darkgreen;
    margin: 10px;
    transition: all .2s;
    width: 430px;
    height: 35px;
    outline: none;
    padding-left: 20px;
}