html, body {
  overflow: auto;
}

p {
  color: black;
}

.App {
  text-align: center;
}

.DarkBackground {
  background-color: darkgreen;
  width:100vw;
  height: 100vh;
  margin: auto;
  padding: 300px 0;
}

.Span {
  width:100vw;
  height: 100vh;
  margin: auto;
  padding: 40vh 43vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.PageHeader {
  background-color: darkgreen;
  width: 100vw;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.PageTitle {
  position: absolute;
  font-family: Avenir, sans-serif;
  font-size: 50px;
  left: 30px;
  top: 10px;
  color: white;
}


.left {
  clear: left;
  align:left;
  width: 100vh;
}

.NextButton {
  position: relative;
  background-color: transparent;
  border: 5px solid darkgreen;
  top: 30px;
  color: darkgreen;
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.4s;
  width: 200px;
  height: 55px;
  font-size: 22px;
  font-family: Avenir, sans-serif;
  margin-bottom: 40px;
}

.NextButton:hover {
  background-color: white;
  color: darkgreen;
}

.textBox {
  width: 50vh;
  height: 70px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid darkgreen;
  font-size: 22px;
  font-family: Avenir, sans-serif;
  transition-duration: 0.4s;
}

.textBox:focus {
  border: 2px solid white;
}

.White {
  border: 5px solid white;
  color: white;
}

.Green:hover {
  background-color: darkgreen;
  color: white;
}

/* Animations */

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideComp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fadeInRight0 {
  animation: hideComp 0ms, fadeInRight 1000ms 0ms;
}

.fadeInRight1 {
  animation: hideComp 100ms, fadeInRight 1000ms 100ms;
}

.fadeInRight2 {
  animation: hideComp 200ms, fadeInRight 1000ms 200ms;
}

.fadeInRight3 {
  animation: hideComp 300ms, fadeInRight 1000ms 300ms;
}

.fadeInRight4 {
  animation: hideComp 400ms, fadeInRight 1000ms 400ms;
}

.fadeInRight5 {
  animation: hideComp 500ms, fadeInRight 1000ms 500ms;
}

.fadeInLeft0 {
  animation: hideComp 0ms, fadeInLeft 1000ms 0ms;
}

.fadeInLeft1 {
  animation: hideComp 100ms, fadeInLeft 1000ms 100ms;
}

.fadeInLeft2 {
  animation: hideComp 200ms, fadeInLeft 1000ms 200ms;
}

.fadeInLeft3 {
  animation: hideComp 300ms, fadeInLeft 1000ms 300ms;
}

.fadeInLeft4 {
  animation: hideComp 400ms, fadeInLeft 1000ms 400ms;
}

.fadeInLeft5 {
  animation: hideComp 500ms, fadeInLeft 1000ms 500ms;
}

.sliderBox {
  position: absolute;
  top:25px;
  right:155px;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  bottom:-30px;
  left:-50px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgreen;
  -webkit-transition: .4s;
  transition: .4s;
}

slider:hover {
  background-color:white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #006400;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.favorites{
  background-image: url(assets/heart.png);
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkgreen;
  border: none;
  outline: none;
  border-radius: 12px;
  margin-top: 15px;
  margin-right: 30px;
  float: right;
}
.profile {
  background-image: url(assets/user.png);
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkgreen;
  border: none;
  outline: none;
  border-radius: 12px;
  margin-top: 15px;
  margin-right: 30px;
  float: right;
}

h5{
  color: white;
  font-size: 12px;
  font-family: Avenir, sans-serif;
  margin-top: 1px;
}

.Listing {

  margin-top: 50px;
  z-index: -3;
}
