html, body {
  overflow: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.PageHeader {
  background-color: darkgreen;
  width: 100vw;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
}

.PageTitle {
  position: absolute;
  font-family: Avenir;
  font-size: 50px;
  left: 30px;
  top: 10px;
  color: white;
}

.Button {
  background-color: #09d3ac;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.DarkText {
  color:#282c34;
  font-size: 16px;
}

.Button:hover {
  background-color: white;
  color: #09d3ac;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.left {
  clear: left;
  align:left;
  width: 100vh;
}

.NextButton {
  position: absolute;
  background-color: transparent;
  border: 5px solid green;
  color: green;
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.4s;
  width: 200px;
  height: 55px;
  font-size: 22px;
  font-family: Avenir;
}

/* Animations */

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideComp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.fadeInRight1 {
  animation: hideComp 100ms, fadeInRight 1000ms 100ms;
}

.fadeInRight2 {
  animation: hideComp 200ms, fadeInRight 1000ms 200ms;
}

.fadeInRight3 {
  animation: hideComp 300ms, fadeInRight 1000ms 300ms;
}

.fadeInRight4 {
  animation: hideComp 400ms, fadeInRight 1000ms 400ms;
}

.fadeInRight5 {
  animation: hideComp 500ms, fadeInRight 1000ms 500ms;
}

.fadeInLeft1 {
  animation: hideComp 100ms, fadeInLeft 1000ms 100ms;
}

.fadeInLeft2 {
  animation: hideComp 200ms, fadeInLeft 1000ms 200ms;
}

.fadeInLeft3 {
  animation: hideComp 300ms, fadeInLeft 1000ms 300ms;
}

.fadeInLeft4 {
  animation: hideComp 400ms, fadeInLeft 1000ms 400ms;
}

.fadeInLeft5 {
  animation: hideComp 500ms, fadeInLeft 1000ms 500ms;
}